<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Importation-of-the-necessary-libraries" data-toc-modified-id="Importation-of-the-necessary-libraries-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Importation of the necessary libraries</a></span><ul class="toc-item"><li><span><a href="#Necessary-libraries-for-data-analysis" data-toc-modified-id="Necessary-libraries-for-data-analysis-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Necessary libraries for data analysis</a></span></li></ul></li><li><span><a href="#Preliminary-investigation-of-the-primary-data-set" data-toc-modified-id="Preliminary-investigation-of-the-primary-data-set-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Preliminary investigation of the primary data set</a></span></li><li><span><a href="#Geospatial-distribution-of-Tweets" data-toc-modified-id="Geospatial-distribution-of-Tweets-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Geospatial distribution of Tweets</a></span><ul class="toc-item"><li><span><a href="#Data-preparation" data-toc-modified-id="Data-preparation-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Data preparation</a></span></li><li><span><a href="#Importation-of-the-necessary-auxiliary-data-set" data-toc-modified-id="Importation-of-the-necessary-auxiliary-data-set-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Importation of the necessary auxiliary data set</a></span></li><li><span><a href="#Preparation-of-the-geographic-information-between-data-sets" data-toc-modified-id="Preparation-of-the-geographic-information-between-data-sets-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Preparation of the geographic information between data sets</a></span></li><li><span><a href="#Data-mapping-among-the-datasets" data-toc-modified-id="Data-mapping-among-the-datasets-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Data mapping among the datasets</a></span></li></ul></li><li><span><a href="#Kaggle-dataset----Twitter-sentiment-analysis" data-toc-modified-id="Kaggle-dataset----Twitter-sentiment-analysis-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Kaggle dataset -- Twitter sentiment analysis</a></span></li></ul></div>

# Importation of the necessary libraries

## Necessary libraries for data analysis

In [1]:
import pandas as pd
import numpy as np

# Preliminary investigation of the primary data set

In [2]:
# URL: https://www.kaggle.com/gpreda/covid19-tweets
covid19_tweets = pd.read_csv("covid19_tweets.csv")

covid19_tweets.head()

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet
0,·èâ·é•‚òª’¨ÍÇÖœÆ,astroworld,wednesday addams as a disney princess keepin i...,2017-05-26 05:46:42,624,950,18775,False,2020-07-25 12:27:21,If I smelled the scent of hand sanitizers toda...,NaN,Twitter for iPhone,False
1,Tom Basile üá∫üá∏,"New York, NY","Husband, Father, Columnist & Commentator. Auth...",2009-04-16 20:06:23,2253,1677,24,True,2020-07-25 12:27:17,Hey @Yankees @YankeesPR and @MLB - wouldn't it...,NaN,Twitter for Android,False
2,Time4fisticuffs,"Pewee Valley, KY",#Christian #Catholic #Conservative #Reagan #Re...,2009-02-28 18:57:41,9275,9525,7254,False,2020-07-25 12:27:14,@diane3443 @wdunlap @realDonaldTrump Trump nev...,['COVID19'],Twitter for Android,False
3,ethel mertz,Stuck in the Middle,#Browns #Indians #ClevelandProud #[]_[] #Cavs ...,2019-03-07 01:45:06,197,987,1488,False,2020-07-25 12:27:10,@brookbanktv The one gift #COVID19 has give me...,['COVID19'],Twitter for iPhone,False
4,DIPR-J&K,Jammu and Kashmir,üñäÔ∏èOfficial Twitter handle of Department of Inf...,2017-02-12 06:45:15,101009,168,101,False,2020-07-25 12:27:08,25 July : Media Bulletin on Novel #CoronaVirus...,"['CoronaVirusUpdates', 'COVID19']",Twitter for Android,False

In [3]:
covid19_tweets.shape

(179108, 13)

In [4]:
covid19_tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179108 entries, 0 to 179107
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   user_name         179108 non-null  object
 1   user_location     142337 non-null  object
 2   user_description  168822 non-null  object
 3   user_created      179108 non-null  object
 4   user_followers    179108 non-null  int64
 5   user_friends      179108 non-null  int64
 6   user_favourites   179108 non-null  int64
 7   user_verified     179108 non-null  bool
 8   date              179108 non-null  object
 9   text              179108 non-null  object
 10  hashtags          127774 non-null  object
 11  source            179031 non-null  object
 12  is_retweet        179108 non-null  bool
dtypes: bool(2), int64(3), object(8)
memory usage: 15.4+ MB

In [5]:
covid19_tweets.columns

Index(['user_name', 'user_location', 'user_description', 'user_created',
       'user_followers', 'user_friends', 'user_favourites', 'user_verified',
       'date', 'text', 'hashtags', 'source', 'is_retweet'],
      dtype='object')

In [6]:
df_1 = covid19_tweets[['user_location', 'text', 'hashtags', 'source']].copy()
df_1

,user_location,text,hashtags,source
0,astroworld,If I smelled the scent of hand sanitizers toda...,NaN,Twitter for iPhone
1,"New York, NY",Hey @Yankees @YankeesPR and @MLB - wouldn't it...,NaN,Twitter for Android
2,"Pewee Valley, KY",@diane3443 @wdunlap @realDonaldTrump Trump nev...,['COVID19'],Twitter for Android
3,Stuck in the Middle,@brookbanktv The one gift #COVID19 has give me...,['COVID19'],Twitter for iPhone
4,Jammu and Kashmir,25 July : Media Bulletin on Novel #CoronaVirus...,"['CoronaVirusUpdates', 'COVID19']",Twitter for Android
...,...,...,...,...
179103,"Ilorin, Nigeria",Thanks @IamOhmai for nominating me for the @WH...,['WearAMask'],Twitter for Android
179104,Ontario,2020! The year of insanity! Lol! #COVID19 http...,['COVID19'],Twitter for Android
179105,üá®üá¶ Canada,@CTVNews A powerful painting by Juan Lucena. I...,NaN,Twitter Web App
179106,New York City,"More than 1,200 students test positive for #CO...",['COVID19'],Twitter for iPhone
179107,"Aliwal North, South Africa",I stop when I see a Stop\n\n@SABCNews\n@Izinda...,NaN,Twitter for Android

# Geospatial distribution of Tweets

## Data preparation

In [7]:
df_1["user_location"].isnull().sum()

36771

In [8]:
df_1["user_location"][:20]

0                                            astroworld
1                                          New York, NY
2                                      Pewee Valley, KY
3                                  Stuck in the Middle
4                                     Jammu and Kashmir
5                                           –ù–æ–≤–æ—Ä–æÃÅ—Å—Å–∏—è
6                                       Gainesville, FL
7                                                   NaN
8                                                   NaN
9                            üëáüèªlocation at link belowüëáüèª
10                                                  NaN
11                                     Dhaka,Bangladesh
12    Hotel living - various cities!  Who needs a ho...
13                                               Africa
14                                            New Delhi
15                                      Nagaland, India
16                                                  NaN
17                                             Brussels
18                                                  NaN
19                                         Florida, USA
Name: user_location, dtype: object

In [9]:
location = df_1["user_location"].fillna(
    value='').str.strip().str.split(r'[\s]*,[\s]*')
df_1['location'] = location
df_1['location'][:20]

0                                          [astroworld]
1                                        [New York, NY]
2                                    [Pewee Valley, KY]
3                                 [Stuck in the Middle]
4                                   [Jammu and Kashmir]
5                                         [–ù–æ–≤–æ—Ä–æÃÅ—Å—Å–∏—è]
6                                     [Gainesville, FL]
7                                                    []
8                                                    []
9                          [üëáüèªlocation at link belowüëáüèª]
10                                                   []
11                                  [Dhaka, Bangladesh]
12    [Hotel living - various cities!  Who needs a h...
13                                             [Africa]
14                                          [New Delhi]
15                                    [Nagaland, India]
16                                                   []
17                                           [Brussels]
18                                                   []
19                                       [Florida, USA]
Name: location, dtype: object

In [10]:
count = 0
for i in range(len(df_1.index)):
    if count < 20:
        if len(df_1['location'][i]) > 1:
            print(df_1['location'][i])
            count += 1
    else:
        break

['New York', 'NY']
['Pewee Valley', 'KY']
['Gainesville', 'FL']
['Dhaka', 'Bangladesh']
['Nagaland', 'India']
['Florida', 'USA']
['Mumbai', 'India']
['Manhattan', 'NY']
['Chennai', 'India']
['Miami', 'FL']
['British Columbia', 'Canada']
['Farnham', 'Surrey']
['Dorset', 'UK']
['Bethesda', 'Maryland']
['Cavan', 'Ireland']
['Port Elizabeth', 'South Africa']
['New Delhi', 'India']
['Larose', 'LA']
['A-009', 'SEC-68', 'NOIDA']
['Baton Rouge', 'USA']

## Importation of the necessary auxiliary data set

In [11]:
# URL: https://www.kaggle.com/max-mind/world-cities-database
world_cities = pd.read_csv('world_cities.csv')

world_cities.head()

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id
0,Tokyo,Tokyo,35.6897,139.6922,Japan,JP,JPN,T≈çky≈ç,primary,37977000.0,1392685764
1,Jakarta,Jakarta,-6.2146,106.8451,Indonesia,ID,IDN,Jakarta,primary,34540000.0,1360771077
2,Delhi,Delhi,28.6600,77.2300,India,IN,IND,Delhi,admin,29617000.0,1356872604
3,Mumbai,Mumbai,18.9667,72.8333,India,IN,IND,MahƒÅrƒÅshtra,admin,23355000.0,1356226629
4,Manila,Manila,14.5958,120.9772,Philippines,PH,PHL,Manila,primary,23088000.0,1608618140

In [12]:
world_cities.shape

(26569, 11)

In [13]:
world_cities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26569 entries, 0 to 26568
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   city        26569 non-null  object
 1   city_ascii  26569 non-null  object
 2   lat         26569 non-null  float64
 3   lng         26569 non-null  float64
 4   country     26569 non-null  object
 5   iso2        26538 non-null  object
 6   iso3        26569 non-null  object
 7   admin_name  26493 non-null  object
 8   capital     7626 non-null   object
 9   population  25596 non-null  float64
 10  id          26569 non-null  int64
dtypes: float64(3), int64(1), object(7)
memory usage: 2.2+ MB

In [14]:
world_cities.columns

Index(['city', 'city_ascii', 'lat', 'lng', 'country', 'iso2', 'iso3',
       'admin_name', 'capital', 'population', 'id'],
      dtype='object')

In [15]:
df_2 = world_cities[[
    'city', 'lat', 'lng', 'country', 'iso2', 'iso3', 'admin_name'
]].copy()
df_2

,city,lat,lng,country,iso2,iso3,admin_name
0,Tokyo,35.6897,139.6922,Japan,JP,JPN,T≈çky≈ç
1,Jakarta,-6.2146,106.8451,Indonesia,ID,IDN,Jakarta
2,Delhi,28.6600,77.2300,India,IN,IND,Delhi
3,Mumbai,18.9667,72.8333,India,IN,IND,MahƒÅrƒÅshtra
4,Manila,14.5958,120.9772,Philippines,PH,PHL,Manila
...,...,...,...,...,...,...,...
26564,Nord,81.7166,-17.8000,Greenland,GL,GRL,Sermersooq
26565,Timmiarmiut,62.5333,-42.2167,Greenland,GL,GRL,Kujalleq
26566,Cheremoshna,51.3894,30.0989,Ukraine,UA,UKR,Kyyivs‚Äôka Oblast‚Äô
26567,Ambarchik,69.6510,162.3336,Russia,RU,RUS,Sakha (Yakutiya)
26568,Nordvik,74.0165,111.5100,Russia,RU,RUS,Krasnoyarskiy Kray

In [16]:
# https://gist.github.com/tadast/8827699
countries_codes_and_coordinates = pd.read_csv(
    'countries_codes_and_coordinates.csv')

countries_codes_and_coordinates.head()

,Country,Alpha-2 code,Alpha-3 code,Numeric code,Latitude (average),Longitude (average)
0,Afghanistan,"""AF""","""AFG""","""4""","""33""","""65"""
1,Albania,"""AL""","""ALB""","""8""","""41""","""20"""
2,Algeria,"""DZ""","""DZA""","""12""","""28""","""3"""
3,American Samoa,"""AS""","""ASM""","""16""","""-14.3333""","""-170"""
4,Andorra,"""AD""","""AND""","""20""","""42.5""","""1.6"""

In [17]:
countries_codes_and_coordinates.shape

(256, 6)

In [18]:
countries_codes_and_coordinates.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256 entries, 0 to 255
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Country              256 non-null    object
 1   Alpha-2 code         256 non-null    object
 2   Alpha-3 code         256 non-null    object
 3   Numeric code         256 non-null    object
 4   Latitude (average)   256 non-null    object
 5   Longitude (average)  256 non-null    object
dtypes: object(6)
memory usage: 12.1+ KB

In [19]:
countries_codes_and_coordinates.columns

Index(['Country', 'Alpha-2 code', 'Alpha-3 code', 'Numeric code',
       'Latitude (average)', 'Longitude (average)'],
      dtype='object')

In [20]:
df_3 = countries_codes_and_coordinates[[
    'Alpha-2 code', 'Latitude (average)', 'Longitude (average)'
]].copy()
df_3

    Alpha-2 code Latitude (average) Longitude (average)
0           "AF"               "33"                "65"
1           "AL"               "41"                "20"
2           "DZ"               "28"                 "3"
3           "AS"         "-14.3333"              "-170"
4           "AD"             "42.5"               "1.6"
..           ...                ...                 ...
251         "WF"            "-13.3"            "-176.2"
252         "EH"             "24.5"               "-13"
253         "YE"               "15"                "48"
254         "ZM"              "-15"                "30"
255         "ZW"              "-20"                "30"

[256 rows x 3 columns]

## Preparation of the geographic information between data sets

In [21]:
df_2_iso_2 = []

[
    df_2_iso_2.append(code)
    for code in df_2['iso2'].str.lower().str.strip().to_list()
    if code not in df_2_iso_2
]

len(df_2_iso_2)

224

In [22]:
df_3_alpha_2 = []

[
    df_3_alpha_2.append(code)
    for code in df_3['Alpha-2 code'].str.lower().str.replace(
        '"', '').str.strip().to_list() if code not in df_3_alpha_2
]

len(df_3_alpha_2)

244

In [23]:
[
    missing_code for missing_code in df_2_iso_2
    if missing_code not in df_3_alpha_2
]

[nan, 'xk', 'xw', 'cw']

In [24]:
# URL: https://developers.google.com/public-data/docs/canonical/countries_csv
# 'xk': 'Kosovo'
# 'xw': Not found
# 'cw': Not found
df_3_alpha_2 = df_3_alpha_2 + ['xk']
len(df_3_alpha_2)

245

In [25]:
df_3_lat = df_3['Latitude (average)'].str.replace(
    '"', '').str.strip().to_list() + ['42.602636']
len(df_3_lat)

257

In [26]:
df_3_lng = df_3['Longitude (average)'].str.replace(
    '"', '').str.strip().to_list() + ['20.902977']
len(df_3_lng)

257

In [27]:
df_2_iso_3 = []

[
    df_2_iso_3.append(code)
    for code in df_2['iso3'].str.lower().str.strip().to_list()
    if code not in df_2_iso_3
]

len(df_2_iso_2)

224

In [28]:
df_2_country = []

[
    df_2_country.append(code)
    for code in df_2['country'].str.lower().str.strip().to_list()
    if code not in df_2_country
]

len(df_2_country)

224

In [29]:
df_2_admin_name = df_2['admin_name'].fillna(
    value='').str.lower().str.strip().to_list()
len(df_2_admin_name)

26569

In [30]:
df_2_city = df_2['city'].fillna(value='').str.lower().str.strip().to_list()
len(df_2_city)

26569

In [31]:
df_2_lat = df_2['lat'].fillna(value='').to_list()
len(df_2_lat)

26569

In [32]:
df_2_lng = df_2['lng'].fillna(value='').to_list()
len(df_2_lng)

26569

## Data mapping among the datasets

In [33]:
pd.options.mode.chained_assignment = None

df_1["lat"] = np.NaN
df_1["lng"] = np.NaN

for i in range(len(location)):

    if location[i] != ['']:

        order = [False, False, False, False, False]
        each_location = location[i]

        for each in each_location:
            each = each.lower().strip()
            if each in df_2_city:
                order[0] = df_2_city.index(each)
            if each in df_2_admin_name:
                order[1] = df_2_admin_name.index(each)
            if each in df_2_country:
                order[2] = df_2_country.index(each)
            if each in df_2_iso_2:
                order[3] = df_2_iso_2.index(each)
            if each in df_2_iso_3:
                order[4] = df_2_iso_3.index(each)

        if order[0]:
            df_1['lat'].iloc[i] = df_2_lat[order[0]]
            df_1['lng'].iloc[i] = df_2_lng[order[0]]
            continue
        if order[1]:
            df_1['lat'].iloc[i] = df_2_lat[order[1]]
            df_1['lng'].iloc[i] = df_2_lng[order[1]]
            continue
        if order[2]:
            try:
                df_1['lat'].iloc[i] = df_3_lat[df_3_alpha_2.index(
                    df_2_iso_2[order[2]])]
                df_1['lng'].iloc[i] = df_3_lng[df_3_alpha_2.index(
                    df_2_iso_2[order[2]])]
            except:
                pass
            continue
        if order[3]:
            df_1['lat'].iloc[i] = df_3_lat[df_3_alpha_2.index(
                df_2_iso_2[order[3]])]
            df_1['lng'].iloc[i] = df_3_lng[df_3_alpha_2.index(
                df_2_iso_2[order[3]])]
            continue
        if order[4]:
            df_1['lat'].iloc[i] = df_3_lat[df_3_alpha_2.index(
                df_2_iso_2[order[4]])]
            df_1['lng'].iloc[i] = df_3_lng[df_3_alpha_2.index(
                df_2_iso_2[order[4]])]
            continue
    else:
        continue

In [34]:
df_1.isnull().sum()

user_location    36771
text                 0
hashtags         51334
source              77
location             0
lat              77340
lng              77340
dtype: int64

In [35]:
df_1[['lat', 'lng']] = df_1[['lat', 'lng']].astype(str)

In [36]:
df_1.to_csv('covid19_tweets_coordinates.csv', index=False)

In [37]:
df = pd.read_csv('covid19_tweets_coordinates.csv')

In [38]:
df

,user_location,text,hashtags,source,location,lat,lng
0,astroworld,If I smelled the scent of hand sanitizers toda...,NaN,Twitter for iPhone,['astroworld'],NaN,NaN
1,"New York, NY",Hey @Yankees @YankeesPR and @MLB - wouldn't it...,NaN,Twitter for Android,"['New York', 'NY']",40.6943,-73.9249
2,"Pewee Valley, KY",@diane3443 @wdunlap @realDonaldTrump Trump nev...,['COVID19'],Twitter for Android,"['Pewee Valley', 'KY']",60.0000,-95.0000
3,Stuck in the Middle,@brookbanktv The one gift #COVID19 has give me...,['COVID19'],Twitter for iPhone,['Stuck in the Middle'],NaN,NaN
4,Jammu and Kashmir,25 July : Media Bulletin on Novel #CoronaVirus...,"['CoronaVirusUpdates', 'COVID19']",Twitter for Android,['Jammu and Kashmir'],NaN,NaN
...,...,...,...,...,...,...,...
179108,"Ilorin, Nigeria",Thanks @IamOhmai for nominating me for the @WH...,['WearAMask'],Twitter for Android,"['Ilorin', 'Nigeria']",8.5000,4.5500
179109,Ontario,2020! The year of insanity! Lol! #COVID19 http...,['COVID19'],Twitter for Android,['Ontario'],34.0393,-117.6064
179110,üá®üá¶ Canada,@CTVNews A powerful painting by Juan Lucena. I...,NaN,Twitter Web App,['üá®üá¶ Canada'],NaN,NaN
179111,New York City,"More than 1,200 students test positive for #CO...",['COVID19'],Twitter for iPhone,['New York City'],NaN,NaN
179112,"Aliwal North, South Africa",I stop when I see a Stop\n\n@SABCNews\n@Izinda...,NaN,Twitter for Android,"['Aliwal North', 'South Africa']",-30.7000,26.7000

In [39]:
df.isnull().sum()

user_location    36771
text                 2
hashtags         51339
source              82
location             7
lat              77345
lng              77346
dtype: int64

In [40]:
(len(df.index) - df['lat'].isnull().sum()) / len(df.index) * 100

56.81776308810639

# Kaggle dataset -- Twitter sentiment analysis

```
kaggle competitions download -c twitter-sentiment-analysis2

```

![A](A.png)