# .

In [1]:
import pandas as pd
import numpy as np

import folium
from folium.plugins import HeatMapWithTime, TimestampedGeoJson

import matplotlib.pyplot as plt
import seaborn as sns

# .

In [2]:
# COVID19 Tweets
# URL: https://www.kaggle.com/gpreda/covid19-tweets
covid_tweets = pd.read_csv("covid19_tweets.csv")

In [3]:
covid_tweets.head()

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet
0,·èâ·é•‚òª’¨ÍÇÖœÆ,astroworld,wednesday addams as a disney princess keepin i...,2017-05-26 05:46:42,624,950,18775,False,2020-07-25 12:27:21,If I smelled the scent of hand sanitizers toda...,NaN,Twitter for iPhone,False
1,Tom Basile üá∫üá∏,"New York, NY","Husband, Father, Columnist & Commentator. Auth...",2009-04-16 20:06:23,2253,1677,24,True,2020-07-25 12:27:17,Hey @Yankees @YankeesPR and @MLB - wouldn't it...,NaN,Twitter for Android,False
2,Time4fisticuffs,"Pewee Valley, KY",#Christian #Catholic #Conservative #Reagan #Re...,2009-02-28 18:57:41,9275,9525,7254,False,2020-07-25 12:27:14,@diane3443 @wdunlap @realDonaldTrump Trump nev...,['COVID19'],Twitter for Android,False
3,ethel mertz,Stuck in the Middle,#Browns #Indians #ClevelandProud #[]_[] #Cavs ...,2019-03-07 01:45:06,197,987,1488,False,2020-07-25 12:27:10,@brookbanktv The one gift #COVID19 has give me...,['COVID19'],Twitter for iPhone,False
4,DIPR-J&K,Jammu and Kashmir,üñäÔ∏èOfficial Twitter handle of Department of Inf...,2017-02-12 06:45:15,101009,168,101,False,2020-07-25 12:27:08,25 July : Media Bulletin on Novel #CoronaVirus...,"['CoronaVirusUpdates', 'COVID19']",Twitter for Android,False

In [4]:
covid_tweets.shape

(179108, 13)

In [5]:
covid_tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179108 entries, 0 to 179107
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   user_name         179108 non-null  object
 1   user_location     142337 non-null  object
 2   user_description  168822 non-null  object
 3   user_created      179108 non-null  object
 4   user_followers    179108 non-null  int64
 5   user_friends      179108 non-null  int64
 6   user_favourites   179108 non-null  int64
 7   user_verified     179108 non-null  bool
 8   date              179108 non-null  object
 9   text              179108 non-null  object
 10  hashtags          127774 non-null  object
 11  source            179031 non-null  object
 12  is_retweet        179108 non-null  bool
dtypes: bool(2), int64(3), object(8)
memory usage: 15.4+ MB

In [6]:
# World Cities Database
# URL: https://www.kaggle.com/max-mind/world-cities-database
world_cities = pd.read_csv('worldcities.csv')

In [7]:
world_cities.head()

,city,city_ascii,lat,lng,country,iso2,iso3,admin_name,capital,population,id
0,Tokyo,Tokyo,35.6897,139.6922,Japan,JP,JPN,T≈çky≈ç,primary,37977000.0,1392685764
1,Jakarta,Jakarta,-6.2146,106.8451,Indonesia,ID,IDN,Jakarta,primary,34540000.0,1360771077
2,Delhi,Delhi,28.6600,77.2300,India,IN,IND,Delhi,admin,29617000.0,1356872604
3,Mumbai,Mumbai,18.9667,72.8333,India,IN,IND,MahƒÅrƒÅshtra,admin,23355000.0,1356226629
4,Manila,Manila,14.5958,120.9772,Philippines,PH,PHL,Manila,primary,23088000.0,1608618140

In [8]:
world_cities.shape

(26569, 11)

In [9]:
world_cities.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26569 entries, 0 to 26568
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   city        26569 non-null  object
 1   city_ascii  26569 non-null  object
 2   lat         26569 non-null  float64
 3   lng         26569 non-null  float64
 4   country     26569 non-null  object
 5   iso2        26538 non-null  object
 6   iso3        26569 non-null  object
 7   admin_name  26493 non-null  object
 8   capital     7626 non-null   object
 9   population  25596 non-null  float64
 10  id          26569 non-null  int64
dtypes: float64(3), int64(1), object(7)
memory usage: 2.2+ MB

In [10]:
avg_countries_location = pd.read_csv(
    'https://gist.githubusercontent.com/tadast/8827699/raw/\
3cd639fa34eec5067080a61c69e3ae25e3076abb/countries_codes_and_coordinates.csv')

In [11]:
avg_countries_location.head()

,Country,Alpha-2 code,Alpha-3 code,Numeric code,Latitude (average),Longitude (average)
0,Afghanistan,"""AF""","""AFG""","""4""","""33""","""65"""
1,Albania,"""AL""","""ALB""","""8""","""41""","""20"""
2,Algeria,"""DZ""","""DZA""","""12""","""28""","""3"""
3,American Samoa,"""AS""","""ASM""","""16""","""-14.3333""","""-170"""
4,Andorra,"""AD""","""AND""","""20""","""42.5""","""1.6"""

In [12]:
avg_countries_location.shape

(256, 6)

In [13]:
avg_countries_location.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 256 entries, 0 to 255
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Country              256 non-null    object
 1   Alpha-2 code         256 non-null    object
 2   Alpha-3 code         256 non-null    object
 3   Numeric code         256 non-null    object
 4   Latitude (average)   256 non-null    object
 5   Longitude (average)  256 non-null    object
dtypes: object(6)
memory usage: 12.1+ KB

# .

In [14]:
covid_tweets["latitude"] = np.NaN
covid_tweets["longitude"] = np.NaN

In [15]:
location = covid_tweets["user_location"].fillna(value='').str.replace(
    ', ', ',').str.split(',')
covid_tweets["location"] = location

In [16]:
covid_tweets["user_location"][1]

'New York, NY'

In [17]:
covid_tweets["location"][1]

['New York', 'NY']

# .

In [18]:
countries_codes = []
nb = 0
for code in avg_countries_location['Alpha-2 code'].str.replace(
        '"', '').str.strip().to_list():
    if code not in countries_codes:
        countries_codes.append(code)
    else:
        corresponding_name = avg_countries_location['Country'].to_list()[nb]
        print('The repeated code is {}, and its repeated name is "{}".'.format(
            code, corresponding_name))
    nb += 1
len(countries_codes)

The repeated code is BO, and its repeated name is "Bolivia".
The repeated code is BN, and its repeated name is "Brunei".
The repeated code is CI, and its repeated name is "Ivory Coast".
The repeated code is KR, and its repeated name is "South Korea".
The repeated code is LY, and its repeated name is "Libya".
The repeated code is MM, and its repeated name is "Burma".
The repeated code is RU, and its repeated name is "Russia".
The repeated code is VC, and its repeated name is "Saint Vincent & the Grenadines".
The repeated code is VC, and its repeated name is "St. Vincent and the Grenadines".
The repeated code is TW, and its repeated name is "Taiwan".
The repeated code is VE, and its repeated name is "Venezuela".
The repeated code is VN, and its repeated name is "Vietnam".

244

In [19]:
world_cities_iso2 = []
for iso2 in world_cities['iso2'].to_list():
    if iso2 not in world_cities_iso2:
        world_cities_iso2.append(iso2)
len(world_cities_iso2)

224

In [20]:
for city in world_cities_iso2:
    if city not in countries_codes:
        print(city)

nan
XK
XW
CW

# .

In [21]:
# URL: https://developers.google.com/public-data/docs/canonical/countries_csv
# 'XK': 'Kosovo'
# 'XW': None
# 'CW': None
codes = avg_countries_location['Alpha-2 code'].str.replace(
    '"', '').str.strip().to_list() + ['XK']
code_latitude = avg_countries_location['Latitude (average)'].str.replace(
    '"', '').to_list() + ['42.602636']
code_longitude = avg_countries_location['Longitude (average)'].str.replace(
    '"', '').to_list() + ['20.902977']

# .

In [28]:
lat = world_cities['lat'].fillna(value='').to_list()
lng = world_cities['lng'].fillna(value='').to_list()

In [29]:
world_cities_iso3 = []
for iso3 in world_cities['iso3'].to_list():
    if iso3 not in world_cities_iso3:
        world_cities_iso3.append(iso3)
len(world_cities_iso3)

224

In [30]:
world_cities_iso2 = []
for iso2 in world_cities['iso2'].to_list():
    if iso2 not in world_cities_iso2:
        world_cities_iso2.append(iso2)
len(world_cities_iso2)

224

In [31]:
world_cities_country = []
for country in world_cities['country'].to_list():
    if country not in world_cities_country:
        world_cities_country.append(country)
len(world_cities_country)

224

In [52]:
city_admin_name = world_cities['admin_name'].to_list()
len(city_admin_name)

26569

In [53]:
world_city = world_cities['city'].fillna(value='').to_list()
len(world_city)

26569

# .

In [51]:
for ind in range(len(location)):
    order = [False, False, False, False, False]
    each_loc = location[ind]
    for each in each_loc:
        each = each.strip()
        if each in world_city:
            order[0] = world_city.index(each)
        if each in city_admin_name:
            order[1] = city_admin_name.index(each)
        if each in world_cities_country:
            order[2] = world_cities_country.index(each)
        if each in world_cities_iso2:
            order[3] = world_cities_iso2.index(each)
        if each in world_cities_iso3:
            order[4] = wworld_cities_iso3.index(each)
    if order[0]:
        covid_tweets['lat'][ind] = lat[order[0]]
        covid_tweets['lng'][ind] = lng[order[0]]
        continue
    if order[1]:
        covid_tweets['lat'][ind] = lat[order[1]]
        covid_tweets['lng'][ind] = lng[order[1]]
        continue
    if order[2]:
        try:
            covid_tweets['lat'][ind] = code_lat[codes.index(
                world_city_iso2[order[2]].upper())]
            covid_tweets['lng'][ind] = code_lng[codes.index(
                world_city_iso2[order[2]].upper())]
        except:
            pass
        continue
    if order[3]:
        covid_tweets['lat'][ind] = code_lat[codes.index(
            world_city_iso2[order[3]].upper())]
        covid_tweets['lng'][ind] = code_lng[codes.index(
            world_city_iso2[order[3]].upper())]
        continue
    if order[4]:
        covid_tweets['lat'][ind] = code_lat[codes.index(
            world_city_iso2[order[4]].upper())]
        covid_tweets['lng'][ind] = code_lng[codes.index(
            world_city_iso2[order[4]].upper())]
        continue

KeyError: 'lat'

In [34]:
world_cities['admin_name']

0                     T≈çky≈ç
1                   Jakarta
2                     Delhi
3               MahƒÅrƒÅshtra
4                    Manila
                ...
26564            Sermersooq
26565              Kujalleq
26566     Kyyivs‚Äôka Oblast‚Äô
26567      Sakha (Yakutiya)
26568    Krasnoyarskiy Kray
Name: admin_name, Length: 26569, dtype: object